.header {
	border-bottom: 1px black solid;
	display: flex;
	justify-content: space-between;

	.headerText {
		flex: 2;
		text-align: center;
		padding: 0px;
	}
}

//Dark Mode

.headerDark {
	border-bottom: 1px white solid;
	display: flex;
	justify-content: space-between;
	background-color: black;

	.headerText {
		flex: 2;
		text-align: center;
		padding: 0px;
		color: white;
	}
}

.hamburger {
	flex: 0;
	margin-left: 3px;
	cursor: pointer;

	.div {
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
	}
}

//Dark Mode
.hamburgerDark {
	flex: 0;
    margin-left: 3px;
    margin-top: 0px;
    border-top: 3px solid #221D2B;
	cursor: pointer;

	.div {
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 6px 0;
	}
}

.hidden {
	display: none;
}

.navBar {
	position: fixed;
	float: left;
	height: 100%;
	z-index: 1;
	background-color: #f8f8f8;
	top: 0;
	width: 15rem;
	border-right: 2px solid #3a4155;
	border-radius: 4px;

	.about {
		padding: 10px;
		margin-top: 8px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;

		margin-bottom: 10px;
	}
	.github {
		padding: 10px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	a {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		font-size: large;
	}
}

.navDark {
	background-color: #221D2B;
	color: white;
	height: 100%;
    z-index: 1;
    margin-top: none;

	.about {
		padding: 10px;
		margin-top: 8px;
		border-top: 1px solid #9420FF;
		border-bottom: 1px solid #9420FF;
		margin-bottom: 10px;
	}
	.github {
		padding: 10px;
		border-top: 1px solid #9420FF;
		border-bottom: 1px solid #9420FF;
	}

	a {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		font-size: large;
	}
}

.line {
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-bottom: 2px solid black;
}

.loginButton {
	margin-top: 10px;
}

.loginForm {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;

	.loginFields {
		display: flex;
		flex-direction: column;
	}

	input:active {
		border-color: black;
	}
	.loginButton {
		background-color: blueviolet;
		border-color: black;
		border-radius: 3px;
	}
}

.modes {
	flex: 0.3;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 8px;
	border: solid black 2px;
	border-radius: 8px;
	padding: 0px;
	cursor: pointer;
	background-color: white;

	svg {
		padding: 0px;
	}
}

//Desktop View
// @media (min-width:768px)
// {
//     .header{
//         display: block;
//     }
// }
